* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #a9a936;
}

.welcome-page{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(5.jpg);
  background-size: cover;
}

.welcome-page-content{
  /* border: 1px solid white; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav{
  width: 100%;
  max-height: 75px;
  line-height: 75px;
  /* padding: 0px 100px; */
  position: fixed;
  display: flex;
  flex-direction: row;
  /* border: 1px solid blue; */
  justify-content: space-around;
  background-image: linear-gradient(to right, #5a3f37, #2c7744);
}

.navlinks{
  display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    width: 364px;
    max-width: 53%;
    margin: 0px 80px;
    gap: 25px;
}

.navlinks >div{
  /* border: 1px solid red; */
  padding: 0px 2px;
  font-weight: bold;
}

img{
  height: -webkit-fill-available;
  mix-blend-mode: multiply;
}

h1{
  border-radius: 5px;
  padding: 5px;
  background-image: linear-gradient(to right, #5a3f37, #2c7744);
}